@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Cera Pro;
        font-weight: 100;
        src: url("./assets/font/Cera Pro Thin.otf") format("otf");
    }
    @font-face {
        font-family: Cera Pro;
        font-weight: 300;
        src: url("./assets/font/Cera Pro Light.otf") format("otf");
    }
    @font-face {
        font-family: Cera Pro;
        font-weight: 400;
        src: url("./assets/font/Cera Pro Regular.otf") format("otf");
    }
    @font-face {
        font-family: Cera Pro;
        font-weight: 500;
        src: url("./assets/font/Cera Pro Medium.otf") format("otf");
    }
    @font-face {
        font-family: Cera Pro;
        font-weight: 700;
        src: url("./assets/font/Cera Pro Bold.otf") format("otf");
    }
    @font-face {
        font-family: Cera Pro;
        font-weight: 900;
        src: url("./assets/font/Cera Pro Black.otf") format("otf");
    }
}
